<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,1},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,1},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{202,1},{65,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,36},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,36},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,36},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,71},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,71},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,71},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{202,68},{65,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{202,68},{65,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,106},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,106},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,106},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,141},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,141},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,141},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{202,135},{65,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,176},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{68,176},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{135,176},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{202,68},{65,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistol_firing_left.png</string>
            <key>size</key>
            <string>{236,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9403768871a716bfd41f003fd2284254:4683aac950b2991589c20f35bdfc4eb6:ebea5512e63774223e15ac7d52748494$</string>
            <key>textureFileName</key>
            <string>pistol_firing_left.png</string>
        </dict>
    </dict>
</plist>
