<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{123,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,147},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{121,48}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,97},{121,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{121,50}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,45},{121,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AK47_firing_right.png</string>
            <key>size</key>
            <string>{125,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a752b04b86827e616c2104c4bddb5368:13830d418b6e90da5725525d1ee9ab8e:07fd02a6d7ca6945807131aa5523b5ee$</string>
            <key>textureFileName</key>
            <string>AK47_firing_right.png</string>
        </dict>
    </dict>
</plist>
