<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,241},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,287},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,333},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,379},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,425},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,425},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,49},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{123,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,701},{123,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{123,38}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,745},{123,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{123,34}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,785},{123,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{123,30}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,891},{123,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{123,30}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,891},{123,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{123,32}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,857},{123,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{123,34}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,821},{123,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,471},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,97},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,145},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,193},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,517},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,517},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,517},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,563},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,609},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{123,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{1,655},{123,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AK47_firing.png</string>
            <key>size</key>
            <string>{125,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf31170e638d66ea49772f4035bd8632:a4bfc4a33024a2245e5c7aff68c75a41:5e3bf87e1327f79364db0867f6135066$</string>
            <key>textureFileName</key>
            <string>AK47_firing.png</string>
        </dict>
    </dict>
</plist>
