<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-l-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,132},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,135},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,202},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,263},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,269},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,336},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,394},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,403},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,403},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,470},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,525},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,537},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,604},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,656},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,671},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,738},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-l-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-l-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{68,787},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistol_reloading_left.png</string>
            <key>size</key>
            <string>{198,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4add760f12288073c74982c1fa2718de:71eef02775ea702d69a8e2136f65b65a:665743159452178cc43d07cdb001020a$</string>
            <key>textureFileName</key>
            <string>pistol_reloading_left.png</string>
        </dict>
    </dict>
</plist>
