<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,1},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{394,1},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,68},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,68},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,135},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,135},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,135},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{394,132},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{394,132},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,202},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,202},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,202},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,269},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,269},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,269},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{394,263},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,336},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{132,336},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{263,336},{129,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-r-023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,65}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{394,132},{129,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistol_reloading.png</string>
            <key>size</key>
            <string>{460,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88c094aad7552130070c86ed388740a:4683aac950b2991589c20f35bdfc4eb6:38f1a0615da3c1fc0ed106b94f26b99c$</string>
            <key>textureFileName</key>
            <string>pistol_reloading.png</string>
        </dict>
    </dict>
</plist>
