<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4.5}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1386,1},{65,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 12 26 23 26 0 91 0</string>
                <key>verticesUV</key>
                <string>1451 13 1386 24 1386 1 1451 1</string>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9.5,2.5}</string>
                <key>spriteSize</key>
                <string>{72,27}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1031,1},{72,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 10 19 27 27 0 91 0</string>
                <key>verticesUV</key>
                <string>1103 11 1031 28 1039 1 1103 1</string>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11.5,1.5}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1246,1},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 10 23 29 23 0 91 0</string>
                <key>verticesUV</key>
                <string>1314 11 1246 30 1246 1 1314 1</string>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{69,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1105,1},{69,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 10 22 30 22 0 91 0</string>
                <key>verticesUV</key>
                <string>1174 11 1105 31 1105 1 1174 1</string>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{75,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{818,1},{75,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>91 10 38 27 16 28 27 0 91 0</string>
                <key>verticesUV</key>
                <string>893 11 840 28 818 29 829 1 893 1</string>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,0.5}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{531,1},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>91 10 37 30 15 31 27 0 91 0</string>
                <key>verticesUV</key>
                <string>607 11 553 31 531 32 543 1 607 1</string>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9.5,0}</string>
                <key>spriteSize</key>
                <string>{72,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{750,1},{72,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>91 10 43 20 36 32 19 32 19 0 91 0</string>
                <key>verticesUV</key>
                <string>822 11 774 21 767 33 750 33 750 1 822 1</string>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{79,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{317,1},{79,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 4 1 2 4 2 3 0 1 5</string>
                <key>vertices</key>
                <string>91 10 44 20 33 32 12 32 27 0 91 0</string>
                <key>verticesUV</key>
                <string>396 11 349 21 338 33 317 33 332 1 396 1</string>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4.5,0}</string>
                <key>spriteSize</key>
                <string>{82,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{243,1},{82,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 4 1 2 4 2 3 0 1 5</string>
                <key>vertices</key>
                <string>91 10 42 20 26 32 9 32 9 0 91 0</string>
                <key>verticesUV</key>
                <string>325 11 276 21 260 33 243 33 243 1 325 1</string>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 4 6 7 4 5 6</string>
                <key>vertices</key>
                <string>16 32 0 32 0 17 16 17 91 10 25 25 25 0 91 0</string>
                <key>verticesUV</key>
                <string>17 33 1 33 1 18 17 18 92 11 26 26 26 1 92 1</string>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4.5}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1386,1},{65,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 12 26 23 26 0 91 0</string>
                <key>verticesUV</key>
                <string>1451 13 1386 24 1386 1 1451 1</string>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4.5}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1386,1},{65,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 12 26 23 26 0 91 0</string>
                <key>verticesUV</key>
                <string>1451 13 1386 24 1386 1 1451 1</string>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{85,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{83,1},{85,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 1 0 1 4</string>
                <key>vertices</key>
                <string>91 10 23 32 6 32 6 23 27 0 91 0</string>
                <key>verticesUV</key>
                <string>168 11 100 33 83 33 83 24 104 1 168 1</string>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3.5,0}</string>
                <key>spriteSize</key>
                <string>{84,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{157,1},{84,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 4 1 2 4 2 3 0 1 5</string>
                <key>vertices</key>
                <string>91 10 42 20 29 32 7 32 27 0 91 0</string>
                <key>verticesUV</key>
                <string>241 11 192 21 179 33 157 33 177 1 241 1</string>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{602,1},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>91 10 43 20 36 32 16 32 27 0 91 0</string>
                <key>verticesUV</key>
                <string>677 11 629 21 622 33 602 33 613 1 677 1</string>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{390,1},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>91 10 43 20 36 32 15 32 27 0 91 0</string>
                <key>verticesUV</key>
                <string>466 11 418 21 411 33 390 33 402 1 466 1</string>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{461,1},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>91 10 44 20 37 32 16 32 27 0 91 0</string>
                <key>verticesUV</key>
                <string>536 11 489 21 482 33 461 33 472 1 536 1</string>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,0.5}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{672,1},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>91 10 37 30 15 31 27 0 91 0</string>
                <key>verticesUV</key>
                <string>748 11 694 31 672 32 684 1 748 1</string>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8.5,1.5}</string>
                <key>spriteSize</key>
                <string>{74,29}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{889,1},{74,29}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>91 10 38 29 17 29 27 0 91 0</string>
                <key>verticesUV</key>
                <string>963 11 910 30 889 30 899 1 963 1</string>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{73,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{960,1},{73,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>91 10 39 27 18 28 27 0 91 0</string>
                <key>verticesUV</key>
                <string>1033 11 981 28 960 29 969 1 1033 1</string>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11.5,1.5}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1316,1},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 10 23 29 23 0 91 0</string>
                <key>verticesUV</key>
                <string>1384 11 1316 30 1316 1 1384 1</string>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9.5,2.5}</string>
                <key>spriteSize</key>
                <string>{72,27}</string>
                <key>spriteSourceSize</key>
                <string>{91,32}</string>
                <key>textureRect</key>
                <string>{{1172,1},{72,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>91 10 19 27 27 0 91 0</string>
                <key>verticesUV</key>
                <string>1244 11 1172 28 1180 1 1244 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistolreload.png</string>
            <key>size</key>
            <string>{1452,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23ee4fe00ef1f02aec29fa28a39c4bc0:284c68624656513ed155c06a1326da2b:81cd8ba1691931c5f27a8ba70d24ee82$</string>
            <key>textureFileName</key>
            <string>pistolreload.png</string>
        </dict>
    </dict>
</plist>
