<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1620,1},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 30 46 31 20 98 20</string>
                <key>verticesUV</key>
                <string>1688 12 1620 27 1621 1 1688 1</string>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1.5}</string>
                <key>spriteSize</key>
                <string>{73,30}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1372,1},{73,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>98 20 98 31 25 49 33 19</string>
                <key>verticesUV</key>
                <string>1445 2 1445 13 1372 31 1380 1</string>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-3}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1539,1},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 28 51 28 20 98 20</string>
                <key>verticesUV</key>
                <string>1609 12 1539 32 1539 1 1609 1</string>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13.5,-5}</string>
                <key>spriteSize</key>
                <string>{102,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{494,1},{102,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2</string>
                <key>vertices</key>
                <string>27 54 28 21 129 21</string>
                <key>verticesUV</key>
                <string>494 34 495 1 596 1</string>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{101,35}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{314,1},{101,35}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2</string>
                <key>vertices</key>
                <string>26 56 26 21 127 21</string>
                <key>verticesUV</key>
                <string>314 36 314 1 415 1</string>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5.5,-9}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{104,1},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2</string>
                <key>vertices</key>
                <string>124 21 16 63 33 20</string>
                <key>verticesUV</key>
                <string>212 2 104 44 121 1</string>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5.5}</string>
                <key>spriteSize</key>
                <string>{79,38}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{900,1},{79,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 20 98 31 48 42 41 56 19 57 33 19</string>
                <key>verticesUV</key>
                <string>979 2 979 13 929 24 922 38 900 39 914 1</string>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{743,1},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 20 98 31 48 42 38 57 16 57 33 19</string>
                <key>verticesUV</key>
                <string>825 2 825 13 775 24 765 39 743 39 760 1</string>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4.5}</string>
                <key>spriteSize</key>
                <string>{93,36}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{571,1},{93,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 20 98 31 48 41 31 55 5 55 34 19</string>
                <key>verticesUV</key>
                <string>664 2 664 13 614 23 597 37 571 37 600 1</string>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13.5,-5}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{650,1},{94,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 4 6 7 4 5 6</string>
                <key>vertices</key>
                <string>20 54 4 54 4 39 20 39 98 31 31 47 31 21 98 21</string>
                <key>verticesUV</key>
                <string>666 34 650 34 650 19 666 19 744 11 677 27 677 1 744 1</string>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1701,1},{67,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 31 47 31 21 98 21</string>
                <key>verticesUV</key>
                <string>1768 11 1701 27 1701 1 1768 1</string>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1701,1},{67,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 31 47 31 21 98 21</string>
                <key>verticesUV</key>
                <string>1768 11 1701 27 1701 1 1768 1</string>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15.5,-5}</string>
                <key>spriteSize</key>
                <string>{98,37}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{385,1},{98,37}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 20 98 31 48 41 27 56 0 56 34 19</string>
                <key>verticesUV</key>
                <string>483 2 483 13 433 23 412 38 385 38 419 1</string>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6.5}</string>
                <key>spriteSize</key>
                <string>{117,38}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>34 57 9 58 34 20 126 20</string>
                <key>verticesUV</key>
                <string>26 38 1 39 26 1 118 1</string>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{79,39}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{823,1},{79,39}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 20 98 31 48 42 41 57 19 58 33 19</string>
                <key>verticesUV</key>
                <string>902 2 902 13 852 24 845 39 823 40 837 1</string>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{977,1},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 21 98 31 48 43 41 56 19 57 33 20</string>
                <key>verticesUV</key>
                <string>1056 2 1056 12 1006 24 999 37 977 38 991 1</string>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4.5}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1055,1},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 21 98 31 48 43 42 54 21 54 33 20</string>
                <key>verticesUV</key>
                <string>1132 2 1132 12 1082 24 1076 35 1055 35 1067 1</string>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-4}</string>
                <key>spriteSize</key>
                <string>{78,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1130,1},{78,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>98 21 98 31 48 43 42 53 20 53 33 20</string>
                <key>verticesUV</key>
                <string>1208 2 1208 12 1158 24 1152 34 1130 34 1143 1</string>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6.5,-8.5}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{203,1},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2</string>
                <key>vertices</key>
                <string>17 61 33 21 125 21</string>
                <key>verticesUV</key>
                <string>203 41 219 1 311 1</string>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1220,1},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 27 55 27 20 98 20</string>
                <key>verticesUV</key>
                <string>1291 12 1220 36 1220 1 1291 1</string>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-3}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1457,1},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 28 51 28 20 98 20</string>
                <key>verticesUV</key>
                <string>1527 12 1457 32 1457 1 1527 1</string>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,-3}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1296,1},{74,31}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>98 21 98 31 24 51 33 20</string>
                <key>verticesUV</key>
                <string>1370 2 1370 12 1296 32 1305 1</string>
            </dict>
            <key>frame-r-023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{129,65}</string>
                <key>textureRect</key>
                <string>{{1701,1},{67,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>98 31 31 47 31 21 98 21</string>
                <key>verticesUV</key>
                <string>1768 11 1701 27 1701 1 1768 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistolreload.png</string>
            <key>size</key>
            <string>{1769,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6582aff15e752f3a5418dbf36e23c600:4683aac950b2991589c20f35bdfc4eb6:81cd8ba1691931c5f27a8ba70d24ee82$</string>
            <key>textureFileName</key>
            <string>pistolreload.png</string>
        </dict>
    </dict>
</plist>
