<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-r-001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,1}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{43,50},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 6 5 6 5 0 23 0</string>
                <key>verticesUV</key>
                <string>61 56 43 56 43 50 61 50</string>
            </dict>
            <key>frame-r-002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,1}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{22,60},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 6 5 6 5 0 23 0</string>
                <key>verticesUV</key>
                <string>40 66 22 66 22 60 40 60</string>
            </dict>
            <key>frame-r-003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,0.5}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{22,51},{18,7}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 7 5 7 5 0 23 0</string>
                <key>verticesUV</key>
                <string>40 58 22 58 22 51 40 51</string>
            </dict>
            <key>frame-r-004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0.5}</string>
                <key>spriteSize</key>
                <string>{19,7}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{44,31},{19,7}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 7 4 7 4 0 23 0</string>
                <key>verticesUV</key>
                <string>63 38 44 38 44 31 63 31</string>
            </dict>
            <key>frame-r-005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{24,21},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>43 29 24 29 24 21 43 21</string>
            </dict>
            <key>frame-r-006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{26,11},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>45 19 26 19 26 11 45 11</string>
            </dict>
            <key>frame-r-007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{50,1},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>69 9 50 9 50 1 69 1</string>
            </dict>
            <key>frame-r-008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,31},{20,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 3 8 3 0 23 0</string>
                <key>verticesUV</key>
                <string>21 39 1 39 1 31 21 31</string>
            </dict>
            <key>frame-r-009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{26,1},{22,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 1 8 1 0 23 0</string>
                <key>verticesUV</key>
                <string>48 9 26 9 26 1 48 1</string>
            </dict>
            <key>frame-r-010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,11},{23,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 0 8 0 0 23 0</string>
                <key>verticesUV</key>
                <string>24 19 1 19 1 11 24 11</string>
            </dict>
            <key>frame-r-011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,1}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{43,50},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 6 5 6 5 0 23 0</string>
                <key>verticesUV</key>
                <string>61 56 43 56 43 50 61 50</string>
            </dict>
            <key>frame-r-012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,1}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{43,50},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 6 5 6 5 0 23 0</string>
                <key>verticesUV</key>
                <string>61 56 43 56 43 50 61 50</string>
            </dict>
            <key>frame-r-013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,1},{23,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 0 8 0 0 23 0</string>
                <key>verticesUV</key>
                <string>24 9 1 9 1 1 24 1</string>
            </dict>
            <key>frame-r-014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{21,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,21},{21,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 2 8 2 0 23 0</string>
                <key>verticesUV</key>
                <string>22 29 1 29 1 21 22 21</string>
            </dict>
            <key>frame-r-015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,41},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>20 49 1 49 1 41 20 41</string>
            </dict>
            <key>frame-r-016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{22,41},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>41 49 22 49 22 41 41 41</string>
            </dict>
            <key>frame-r-017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,51},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>20 59 1 59 1 51 20 51</string>
            </dict>
            <key>frame-r-018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{45,21},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>64 29 45 29 45 21 64 21</string>
            </dict>
            <key>frame-r-019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{23,31},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>42 39 23 39 23 31 42 31</string>
            </dict>
            <key>frame-r-020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{47,11},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 8 4 8 4 0 23 0</string>
                <key>verticesUV</key>
                <string>66 19 47 19 47 11 66 11</string>
            </dict>
            <key>frame-r-021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,0.5}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{43,41},{18,7}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 7 5 7 5 0 23 0</string>
                <key>verticesUV</key>
                <string>61 48 43 48 43 41 61 41</string>
            </dict>
            <key>frame-r-022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,1}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,8}</string>
                <key>textureRect</key>
                <string>{{1,61},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 6 5 6 5 0 23 0</string>
                <key>verticesUV</key>
                <string>19 67 1 67 1 61 19 61</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pistolreload.png</string>
            <key>size</key>
            <string>{70,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23ee4fe00ef1f02aec29fa28a39c4bc0:284c68624656513ed155c06a1326da2b:81cd8ba1691931c5f27a8ba70d24ee82$</string>
            <key>textureFileName</key>
            <string>pistolreload.png</string>
        </dict>
    </dict>
</plist>
